.fade {
    transition: 0.2s linear;
}
.nav-menu{
    display: flex;
    transition: 0.5s linear;
    height: fit-content;
    position: absolute; right: 10px; top: 70px;
}
.noDisplay {
    position: absolute; right: -190px; top: 70px;
}
.burger:hover {
    opacity: 0.5;
    transition: 0.1s linear;
}
.hidden {
    display: none;
}